<div class="header__secondary navbar">
	<nav class="container" role="navigation">
	  <div id="search-navbar" class="col-xs-12 col-sm-12 col-md-6" role="search">
	    <%= render_search_bar %>
	  </div>
      <div class="navbar-right col-xs-12 col-sm-12 col-md-6">
        <div class="primary-facets">
          <%= render_facet_tags [:dc_rights_s] %>
          <%= render_facet_tags [:dc_subject_sm] %>
        </div>
        <button class="btn btn-link facets-toggler"><i class="glyphicon glyphicon-triangle-right"></i> <span class="text">More Filters</span></button>
    	  <%= render :partial=>'/user_util_links' -%>
      </div>
	</nav>
</div>
<div class="container">
    <%= render 'facets' %>
</div>
