<header role="header">
  <div id="header-navbar" class="l-branding__pul" role="navigation">
    <div class="container">
      <%= link_to root_path, class: "logo__pul" do %>
        <%= image_tag("library_full_logo.svg", class: "logo-svg") %>
        <%= image_tag("library_full_logo.png", class: "logo-no-svg") %>
      <% end %>
    </div>
  </div>

  <%# if controller_name == 'catalog' && has_search_parameters? %>
    <div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <%= render_search_bar  %>
        <div class="collapse navbar-collapse" id="user-util-collapse">
          <%= render :partial=>'/user_util_links' %>
        </div>
      </div>
    </div>
  <%# end %>
</header>