<header role="banner">
  <%= render :partial => 'shared/this_is_beta' %>
  <div class="l-branding__pul">
    <div class="container">
      <%= link_to root_path, class: "logo__pul col-xs-12 col-sm-6" do %>
        <%= image_tag("library_full_logo.svg", class: "logo-svg") %>
        <%= image_tag("library_full_logo.png", class: "logo-no-svg") %>
      <% end %>
      <div class="pull-right menu--level-1 col-xs-12 col-sm-6">
        <ul>
          <li><a href="http://library.princeton.edu/help/contact-us">Contact Us</a></li>
          <%= render :partial=>'/account' %>
        </ul>
      </div>
    </div>
  </div>
  <div class="home-secondary-navbar navbar <% if index_layout? %>home<% end %>">
    <div class="container" role="navigation">
      <% if item_layout? %>
        <div class="col-xs-12 col-sm-2 logo">
        <%= link_to root_path, class: "logo__app" do %>
          <%= image_tag 'geo-logo.png', {:alt => 'Digital Maps and Geographic Data', :style => 'height: 40px;', :class => 'pulmap-brand'} %>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-7 search">
          <%= render 'shared/header_secondary_index' %>
        </div>
      <% else %>
        <div class="col-xs-12 col-sm-9 logo">
        <%= link_to root_path, class: "logo__app" do %>
          <%= image_tag 'geo-logo.png', {:alt => 'Digital Maps and Geographic Data', :style => 'height: 40px;', :class => 'pulmap-brand'} %>
          <% end %>
        </div>
      <% end %>
      <div class="col-xs-12 col-sm-3 util-links">
        <%= render :partial=>'/user_util_links' -%>
      </div>
    </div>
  </div>
<% if index_layout? %>
  <%= render 'shared/header_secondary_home' %>
<% end %>
</header>
