<header role="banner">
  <%= render :partial => 'shared/this_is_beta' %>
  <div class="l-branding__pul">
    <div class="container">
      <%= link_to root_path, class: "logo__pul col-xs-12 col-sm-6" do %>
        <%= image_tag("library_full_logo.svg", class: "logo-svg") %>
        <%= image_tag("library_full_logo.png", class: "logo-no-svg") %>
      <% end %>
      <div class="pull-right menu--level-1 col-xs-12 col-sm-6">
        <ul>
          <li><a href="http://library.princeton.edu/help/contact-us">Contact Us</a></li>
          <%= render :partial=>'/account' %>
        </ul>
      </div>
    </div>
  </div>
  <div class="home-secondary-navbar navbar <% if index_layout? %>home<% end %>">
    <div class="container" role="navigation">
      <div class="col-xs-12 col-sm-12 col-md-2 logo_col">
        <%= link_to root_path, class: "logo__app" do %>
          <div class="logo__app">NEWNAME</div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <%= render :partial=>'catalog/search_form_index' %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2">
        <ul class="search-options">
          <li>
            <%= link_to 'Advanced Search', blacklight_advanced_search_engine.advanced_search_path, :class=>'advanced_search'%>
          </li>
        </ul>
      </div>

<!--       <div class="col-xs-12 col-sm-12 col-md-4">
        <%# render :partial=>'/user_util_links' %>
      </div> -->
    </div>
  </div>
</header>
