<div class="l-branding__pul <%= layout_type %>-branding">
  <div class="<% unless index_layout? %>container<% end %> <%= layout_type %>-container ">
    <nav class="navbar <%= navbar_type %> navbar-dark pul-header">
      <% if index_layout? %>
        <div class="logo__pul col-12 col-md-5 col-lg-4">
          <%= render :partial => 'shared/pul_logo_site_title' %>
        </div>
      <% else %>
        <div class="logo__pul col-12 col-md-6 col-lg-5">
          <%= render :partial => 'shared/pul_logo_site_title' %>
        </div>
      <% end %>  
      
      <% if index_layout? %>
        <div class="col-12 col-md-5 col-lg-4">
          <%= render :partial=>'catalog/search_form_index' %>
        </div>
      <% else %>
        <div class="d-none d-md-block col-md-3">
        </div> 
      <% end %>
      <div class="menu--level-1 d-none d-md-block col-md-<%= index_layout? ? 3 : 4 %>">
        <ul>
          <li><a href="https://accessibility.princeton.edu/help">Accessibility</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
          <%= render :partial=>'/account' %>
        </ul>
      </div>
    </nav>
  </div>
</div>
