<div class='container'>
  <div class='row'>
    <div class='col-md-12 text-center'>
      <%= content_tag :h3, t('geoblacklight.home.map_heading') %>
      <%= content_tag :div, '', id: 'map', data: { map: 'home', 'catalog-path'=> search_catalog_path, 'map-bbox' => params[:bbox], basemap: geoblacklight_basemap } %>
    </div>
    <div class='col-md-12'>
      <%= content_tag :h3, t('geoblacklight.home.category_heading'), class: 'text-center' %>
      <div class='find-by col-md-3'>
        <div class='category-icon'>
          <span class='glyphicon glyphicon-home'></span>
        </div>
        <h4>Institution</h4>
        <%= render_facet_tags [Settings.FIELDS.PROVENANCE] %>
      </div>
      <div class='find-by col-md-3'>
        <div class='category-icon'>
          <span class='glyphicon glyphicon-download'></span>
        </div>
        <h4>Data type</h4>
        <%= render_facet_tags [Settings.FIELDS.GEOM_TYPE] %>
      </div>
      <div class='find-by col-md-3'>
        <div class='category-icon'>
          <span class='glyphicon glyphicon-globe'></span>
        </div>
        <h4>Placename</h4>
        <%= render_facet_tags [Settings.FIELDS.SPATIAL_COVERAGE] %>
      </div>
      <div class='find-by col-md-3'>
        <div class='category-icon'>
          <span class='glyphicon glyphicon-tags'></span>
        </div>
        <h4>Subject</h4>
        <%= render_facet_tags [Settings.FIELDS.SUBJECT] %>
      </div>
    </div>

  </div>
</div>