<% # header bar for doc items in index view -%>
<%= content_tag :div, class: 'documentHeader row', data: { layer_id: document.id, bbox: document.bounding_box_as_wsen, counter: document_counter} do %>
<% counter = document_counter_with_offset(document_counter) %>
<h3 class="index_title col-12 text-span">
  <span class="document-counter">
    <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
  </span>
  <%= link_to_document document, counter: counter, title: document[blacklight_config.index.title_field] %>
</h3>

  <div class="col-12 col-lg-9">
    <small>
      <%= render partial: 'header_icons', locals: { document: document } %>
      <%= geoblacklight_present(:index_fields_display, document) %>
    </small>
  </div>
  <div class="col-12 col-lg-3">
    <div class="thumbnail">
      <% if document.sidecar.image.attached? %>
        <% if document.sidecar.image.variable? %>
          <%= image_tag document.sidecar.image.variant(resize: "200"), {class: 'mr-3'} %>
        <% else %>
          <%= image_tag document.sidecar.image, {class: 'mr-3'} %>
        <% end %>
      <% else %>
        <span class="icon square mr-3" title="<%=document[Settings.FIELDS.GEOM_TYPE]%>">
          <%= geoblacklight_icon(document[Settings.FIELDS.GEOM_TYPE]) %>
        </span>
      <% end %>
    </div>
  </div>
<% end %>
