<%= form_tag search_action_url, :method => :get, :class => 'search-query-form form-inline home-search navbar-form' do %>
  <%= render_hash_as_hidden_fields(search_state.params_for_search().except(:q, :search_field, :qt, :page, :utf8, :model, :rpp, :start)) %>
  <%= hidden_field_tag(:search_field, 'all_fields') %>

  <div class="input-group search-main">
      <%= text_field_tag :q, params[:q], :placeholder => t('blacklight.search.form.search_field.label'), :class => "search_q q form-control", :id => "q", :autocomplete => "off", autocorrect: "off", autocapitalize: "off",spellcheck: "false", :autofocus => should_autofocus_on_search_box?, data: { autocomplete_enabled: autocomplete_enabled?, autocomplete_path: blacklight.suggest_index_path }  %>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary search-btn" id="search">
        <span class="glyphicon glyphicon-search"></span>
        <span class="submit-search-text"><%=t('blacklight.search.form.submit')%></span>
      </button>
      <button type="button" class="btn btn-primary btn-clear-search">
        <span>×</span>
        <span class="sr-only">Clear search terms</span>
      </button>
      <button type="button" class="btn btn-primary btn-advanced-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><%= link_to 'Advanced Search', blacklight_advanced_search_engine.advanced_search_path %></li>
      </ul>
    </span>
  </div>
<% end %>
