<% if has_search_parameters? %>

<%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>
<%= render 'search_header' %>

<div id="sidebar" class="col-md-4 col-sm-5">
  <%= render 'search_sidebar' %>
</div>

<div id="content" class="col-md-8 col-sm-7">
    <%= render 'search_results' %>
</div>

<% else %>

<%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>
<%= render 'home' %>

<% end %>
