<%= simple_form_for(@feedback_form, url: '/contact-us', id: 'feedback_form', remote: true, class: "form-horizontal" ) do |f| %>
  <div class="form-group row">
    <label class="col-md-2 col-form-label" for="name">
      Your name
    </label>
    <div class="col-md-10">
      <%= f.text_field :name, class: 'form-control', error: 'Please provide a name' %>
      <% unless @feedback_form.errors[:name].empty? %>
        <span id="inputError2Status" class="d-none">(error)</span>
        <span class="error">This field <%= @feedback_form.errors[:name].first %></span>
      <% end %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label" for="email">
      Your email
    </label>
    <div class="col-md-10">
      <%= f.email_field :email, class: 'form-control', error: 'Please provide a valid email address', value: @user_email %>
      <% unless @feedback_form.errors[:email].empty? %>
        <span id="inputError2Status" class="d-none">(error)</span>
        <span class="error">Email <%= @feedback_form.errors[:email].first %></span>
      <% end %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label" for="message">
      Questions or comments
    </label>
    <div class="col-md-10">
      <%= f.text_area :message, class: 'form-control', rows: '5', error: 'Please describe the problem you encountered or ask a question.' %>
      <% unless @feedback_form.errors[:message].empty? %>
        <span class="error">This field <%= @feedback_form.errors[:message].first %></span>
      <% end %>
    </div>
  </div>
  <div class="form-group row blacklight-feedback-hidden">
    <label class="col-md-2 col-form-label" for="feedback_desc">
      If you are a human do not fill in this value
    </label>
    <div class="col-md-10">
      <%= f.text_field :feedback_desc, class: 'form-control', error: 'Please describe' %>
    </div>
  </div>

  <%= f.hidden_field :current_url %>
  <div class="form-group row mb-0">
    <div class="col-md-12">
      <%= f.submit t('blacklight.sms.form.submit'), class: 'btn btn-primary pull-right' %>
    </div>
  </div>
<% end %>
